/.github export-ignore
/tests export-ignore
/bin export-ignore
.codecov.yml export-ignore
.editorconfig export-ignore
.php-cs-fixer.dist.php export-ignore
phpstan.neon export-ignore
phpunit.dist.xml export-ignore
