<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('Tests/app/var')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(['@Symfony' => true])
    ->setFinder($finder)
    ->setUsingCache(false)
;
