language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*@dev

before_script:
  - composer require --prefer-source symfony/symfony:${SYMFONY_VERSION}

notifications:
  slack: liip:omECyFa2jBWp1yiRO6c6dash
