parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$check of method Liip\\\\Monitor\\\\Check\\\\CheckContext\\:\\:__construct\\(\\) has invalid type Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/CheckContext.php

		-
			message: "#^Parameter \\$check of method Liip\\\\Monitor\\\\Check\\\\CheckContext\\:\\:wrap\\(\\) has invalid type Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/CheckContext.php

		-
			message: "#^Parameter \\$checks of method Liip\\\\Monitor\\\\Check\\\\CheckRegistry\\:\\:__construct\\(\\) has invalid type Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/CheckRegistry.php

		-
			message: "#^Property Liip\\\\Monitor\\\\Check\\\\CheckRegistry\\:\\:\\$checks has unknown class Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface as its type\\.$#"
			count: 1
			path: src/Check/CheckRegistry.php

		-
			message: "#^Call to method check\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getData\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\ResultInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getLabel\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\FailureInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\ResultInterface\\.$#"
			count: 5
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\SkipInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\SuccessInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Laminas\\\\Diagnostics\\\\Result\\\\WarningInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Result\\\\FailureInterface not found\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Result\\\\ResultInterface not found\\.$#"
			count: 2
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Result\\\\SkipInterface not found\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Result\\\\SuccessInterface not found\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Result\\\\WarningInterface not found\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Parameter \\$check of method Liip\\\\Monitor\\\\Check\\\\LaminasDiagnosticsBridgeCheck\\:\\:__construct\\(\\) has invalid type Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Property Liip\\\\Monitor\\\\Check\\\\LaminasDiagnosticsBridgeCheck\\:\\:\\$check has unknown class Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface as its type\\.$#"
			count: 1
			path: src/Check/LaminasDiagnosticsBridgeCheck.php

		-
			message: "#^Class Laminas\\\\Diagnostics\\\\Check\\\\CheckInterface not found\\.$#"
			count: 2
			path: src/DependencyInjection/LiipMonitorExtension.php
