body {
    padding: 2em;
}

h1 {
    margin-bottom: 0.5em;
}

table.test-result {
    font-family: helvetica;
    font-size: 16px;
    color: black;
    margin: 0 auto;
    width: 100%;
}

th {
    font-size: 16px;
    background: gray;
}

.check_result_ok {
    color: #000000;
    background: #65BF2A;
}

.check_result_warning {
    color: #000000;
    background: #ffcc00;
}

.check_result_critical {
    color: #000000;
    background: #FF3D3D;
}

.check_result_unknown {
    color: #000000;
    background: #999999;
}

.table tbody tr.check_result_warning:hover td {
    background: #FDFF87;
}

.table tbody tr.check_result_critical:hover td {
    background: #FF9D7D;
}

.table tbody tr.check_result_unknown:hover td {
    background: #999999;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #D1F2A5;
}

#info {
    margin-top: 2em;
}

dd pre {
    margin-top: 0.5em;
}

dd dl dt, dd dl dd {
    padding: 0.3em;
}

button {
    width: 100%;
}
